.header-transition:hover {
    color: #0099ff;
    border-color: #0099ff;
    font-size: 45px;
    transition: 1s;
}
.btn {
    color: white;
    background-color: #262626;
    padding: 10px;
    border: 3px solid #ccc;
}
.btn:hover {
    /* background-color:#0099ff; */
    border-color: #0099ff;
    transition: 0.7s;
}