 body {
    background-color: #262626;
    color: white;
}
/* div:hover {
    color: #0099ff;
    border-color: #0099ff;
    transition: 1s;
} */

.container {
    margin: auto;
    width: 50%;
    border: 3px solid #808080;
    padding: 10px;
    
}
